<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name='viewport' content='width=device-width, initial-scale=1'>	
	<title>privacy</title>

	<style type='text/css'>
		body {font-family : arial,helvetica,sans-serif;	color : rgb(30,30,30);	font-size: 14px;background-color: rgb(240,240,240);	}
		h3 { font-size: 16px; margin : 3px; }
		#contact { max-width : 600px; background-color: #fff; border : 1px solid #444; padding : 10px; margin: auto; }		
	</style>
</head>

<body>
<div id='contact'>
	<h3>Contact : </h3>
	Most of the questions relating to this site can be asked in <a href='/boards/meta/'>/meta/</a> board itself. Also, make sure your question isn't already answered in <a href='/rules_and_faq/'>faq</a> page.<br>
	This is the general contact address for any other queries : <a href='mailto:admin@indiachan.com'>admin@indiachan.com</a> <br>
	Thank you. 
</div>
<a href='/'>Home</a>
</body>

</html>